* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-btn button {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: #6d6d6d;
    align-self: center;
    cursor: pointer;
    width: 45px;
}

.menu-btn button:hover {
    background-color: #f3f3f3;
    border-radius: 50px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
    color: #0077cc;
}

.logo span {
    padding: 0 10px;
    align-self: center;
}

.header {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.create-login {
    display: flex;
}

.create-btn {
    display: flex;
    padding: 10px;
    color: #0077cc;
    font-weight: bold;
}

.login-btn,
.upgrade-btn,
.create-btn-icon span,
.create-btn span {
    padding: 10px;
}

.create-btn p {
    padding: 10px 0;
}

.upgrade-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffbf00;
    color: #000;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.upgrade-btn button:hover {
    background-color: #ecb102;
}

.create-btn-icon {
    align-self: center;
}

.create-btn-icon i,
.login-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.create-btn-icon i:hover,
.login-btn button:hover {
    background-color: #016cb8;
}

.search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    max-width: 450px;
    width: 100%;
}

.search i {
    color: #6d6d6d;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.search input:focus {
    border-color: #0077cc;
    outline: none;
}

.avatar-user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/*------------------------------------Body*/
.side-bar {
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow: hidden;
    transition: width 0.5s ease;
    z-index: 1000;
    margin-top: 60px;
    z-index: 999;
}

.side-bar.minimized {
    width: 70px;
}

/* Văn bản trong sidebar */
.side-bar span {
    opacity: 1;
    transition: opacity 0.3s ease;
    font-size: 15px;
}

.side-bar .home-btn,
.side-bar .history-btn,
.side-bar .blogs-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.side-bar.minimized .home-btn span,
.side-bar.minimized .history-btn span,
.side-bar.minimized .blogs-btn span,
.side-bar.minimized .filter span,
.side-bar.minimized .filter select {
    opacity: 0;
    display: none;
}

.side-bar hr {
    width: 90%;
    align-self: center;
    border: 2px solid #aaaaaa;
    border-radius: 5px;
}

.side-bar.minimized hr {
    width: 80%;
    align-self: center;
}

.home-btn,
.history-btn,
.blogs-btn {
    display: flex;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    color: #333;
}

.home-btn:hover,
.history-btn:hover,
.blogs-btn:hover {
    background-color: #f3f3f3;
    border-radius: 10px;
}

.home-btn a,
.history-btn a,
.blogs-btn a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: #6d6d6d;
    font-size: 16px;
}

.home-btn i,
.history-btn i,
.blogs-btn i,
.filter-header i {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    align-self: center;
    color: #6d6d6d;
}

.filter span {
    color: #6d6d6d;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.filter {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
}

.filter-header {
    display: flex;
}

.filter select {
    width: 95%;
    padding: 10px;
    color: #6d6d6d;
    border: 1px solid #6d6d6d;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    align-self: center;
}

.filter select:focus {
    border-color: #0077cc;
    outline: none;
}

.body {
    display: flex;
    height: 100vh;
}
/*---------------------------------------------------*/
.body-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 100px 100px;
    margin: 0 60px;
    width: 100%;
}

.personal-setting {
    padding-bottom: 20px;
}

.personal-setting h2 {
    margin: 10px;
}

.personal-setting-box {
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #f3f3f3;
}

.personal-setting-box img {
    width: 150px;
    border-radius: 50%;
    padding: 10px;;
}

.avt-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.avt-list img {
    width: 50px;
}

.avt-item button {
    border-radius: 50%;
    border: none;
}

.attribute-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #f3f3f3;
}

.attribute-box button{
    background-color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    color: #0077cc;
    cursor: pointer;
}

.attribute-box button:hover,
.attribute-box select:hover {
    background-color: #f3f3f3;
}

.attribute-box select {
    background-color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    color: #0077cc;
}

.attribute-box p {
    font-size: 16px;
    color: #6d6d6d;
}