/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 5, 2025, 12:31:53 AM
    Author     : Lenovo
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-btn button {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: #6d6d6d;
    align-self: center;
    cursor: pointer;
    width: 45px;
    transition: 0.4s ease;
}

.menu-btn button:hover {
    background-color: #f3f3f3;
    border-radius: 50px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
}

.logo a {
    color: #640D5F;
    text-decoration: none;
    padding: 0 10px;
    align-self: center;
}

.header {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-login {
    display: flex;
}

.login-btn,
.upgrade-btn,
.create-btn-icon span {
    padding: 10px;
    align-self: center;
}

.upgrade-btn a {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffbf00;
    color: #640D5F;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.upgrade-btn a:hover {
    background-color: #f7cd51;
}

.create-btn-icon {
    align-self: center;
}

.create-btn-icon button,
.login-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #640D5F;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn-icon button:hover,
.login-btn button:hover {
    background-color: #2A004E;
}

.search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    max-width: 450px;
    width: 100%;
}

.search i {
    color: #6d6d6d;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.search input:focus {
    border-color: #0077cc;
    outline: none;
}

.avatar-user img:not(.user-info img){
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid #e6e6e6;
}

.avatar-user {
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.user-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 15%;
    display: none;
    z-index: 10;
    font-size: 14px;
}

.create-menu {
    position: absolute;
    top: 60px;
    right: 326px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 12%;
    display: none;
    z-index: 10;
    font-size: 14px;
}

.user-menu-item,
.create-menu-item {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 600;
}

.user-menu-item,
.create-menu-item {
    padding: 10px;
}

.user-menu-item i,
.create-menu-item i{
    padding: 5px;
}

.user-menu-item:hover,
.create-menu-item:hover{
    background-color: #f0f0f0;
}

.user-menu.show,
.create-menu.show {
    display: block;
}

.user-info {
    display: flex;
    padding: 10px;
    overflow: hidden;
}

.user-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
}

.user-info div:not(.user-info div div){
    margin-left: 10px;
}

.user-info div div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-info div div p {
    font-weight: bold;
}

.user-info div div span {
    font-weight: bold;
    font-size: 20px;
    color: #ffbf00;
}
/*------------------------------------Body*/
.body {
    display: flex;
    min-height: 100vh;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 101;
    width: 260px;
    height: 100vh;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
}

.sidebar-nav .nav-item .nav-link,
.sidebar-nav .nav-item .nav-link-actived {
    color: #000;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    padding: 11px 15px;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    transition: 0.4s ease;
    font-weight: 600;
}

.sidebar-nav .nav-item .nav-link-actived {
    color: #640D5F;
    background: #ffbcfb;
}

.sidebar-nav .nav-item:hover > .nav-link:not(.dropdown-title),
.sidebar-nav .nav-item:hover > .nav-link-actived:not(.dropdown-title){
    color: #640D5F;
    background: #ffbcfb;
}

.sidebar-nav .nav-link :where(.nav-label, .dropdown-icon),
.sidebar-nav .nav-link-actived :where(.nav-label, .dropdown-icon){
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon),
.sidebar.collapsed .nav-link-actived :where(.nav-label, .dropdown-icon){
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 94px;
    width: 100%;
}

/* Dropdown Stylings */
.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .dropdown-container .dropdown-icon {
    margin: 0 -4px 0 auto;
    transition: tranform 0.4s ease, opacity 0.3s 0.2s ease;
}

.sidebar.collapsed .dropdown-container .dropdown-icon {
    transition: opacity 0.3s 0s;
}

.sidebar-nav .dropdown-container.open .dropdown-icon {
    transform: rotate(180deg);
}

.sidebar-nav .dropdown-subject {
    height: 0;
    overflow-y: hidden;
    list-style: none;
    padding-left: 15px;
    transition: height 0.4s ease;
}

.sidebar.collapsed .dropdown-subject {
    position: absolute;
    left: 100%;
    top: -10px;
    opacity: 0;
    height: auto!important;
    overflow-y: unset;
    pointer-events: none;
    background: #fff;
    padding: 7px 10px 7px 24px;
    border-radius: 10px;
    transition: 0s;
}

.sidebar.collapsed .nav-item:hover .dropdown-subject {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(10px);
    transition: 0.4s ease;
}

.dropdown-subject .nav-item .nav-link,
.dropdown-subject .nav-item .nav-link-actived{
    padding: 9px 15px;
}

.sidebar.collapsed .dropdown-subject .nav-link,
.sidebar.collapsed .dropdown-subject .nav-link-actived {
    padding: 7px 15px;
}

.dropdown-subject .nav-item .dropdown-title {
    display: none;
}

.sidebar.collapsed .dropdown-subject .nav-item .dropdown-title {
    display: block;
}
/* Body content */
.body-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 100px 90px;
    width: 100%;
    transition: margin-left 0.4s ease;
    margin-left: 260px;
}

.sidebar.collapsed + .body-container {
    margin-left: 85px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-bottom: 100px;
    font-size: 40px;
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.content .folder-title{
    font-weight: 700;
}

.btn-area{
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.delete-btn,
.add-btn{
    border: solid 2px;
    padding: 4px 10px;
    border-radius: 5px;
    border-color: #ddd;
    color: #6d6d6d;
}

.delete-btn,
.add-btn{
    font-size: 20px;
}

.empty-folder{
    max-width: 1200px;
    padding: 16px;
    background-color: #f0f0f0;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.quiz-title{
    flex-direction: column;
    align-items: start;

}

.quiz-card{
    max-width: 1200px;
    padding: 8px 16px;
    background-color: #fff;
    min-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.quiz-card:hover{
    border-color: #640D5F;
}

.quiz-card .title-text{
    font-size: 18px;
    font-weight: 600;
}

.folder-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.folder-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    color: #333;
}

.folder-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

/* Popup background */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

/* Popup content */
.popup-content {
    display: flex;
    flex-direction: column;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    text-align: left;
    position: relative;
    max-height: 800px;
    overflow: hidden;
}

.popup-content h2{
    font-size: 24px;
    font-weight: 600;
    color: #6d6d6d;
    margin-bottom: 30px;
}

.item-list {
    display: flex;
    flex-direction: column;
    position: sticky;
    overflow-y: auto;
    max-height: 840px;
}

.item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    color: #333;
    margin-bottom: 10px;
    border-bottom: 4px solid transparent;
}

.item:hover {
    border-color: #640D5F;
}

.item.selected{
    background-color: #ccc;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.item-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.item-name {
    font-weight: bold;
}

.item-meta {
    font-size: 0.875rem;
    font-weight: 500;
    color: #333;
}

.add-button {
    font-size: 1.25rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.submit-button {
    background-color: #640D5F;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.create-item:hover,
.submit-button:hover{
    background-color: #2A004E;
}

.submit-button.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.empty-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px 0;
    border-radius: 5px;
}

.create-item{
    margin-top: 20px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: #3B3B98;
    border-radius: 5px;
    border: none;
    color: white;
}

.ticked{
    display: none;
}

.item.selected .ticked {
    display: block;
}
hr{
        display: block;
   
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}