* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-btn button {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: #6d6d6d;
    align-self: center;
    cursor: pointer;
    width: 45px;
    transition: 0.4s ease;
}

.menu-btn button:hover {
    background-color: #f3f3f3;
    border-radius: 50px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
}

.logo a {
    color: #640D5F;
    text-decoration: none;
    padding: 0 10px;
    align-self: center;
}

.header {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-login {
    display: flex;
}

.login-btn,
.upgrade-btn,
.create-btn-icon span {
    padding: 10px;
    align-self: center;
}

.upgrade-btn a {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffbf00;
    color: #640D5F;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.upgrade-btn a:hover {
    background-color: #f7cd51;
}

.create-btn-icon {
    align-self: center;
}

.create-btn-icon button,
.login-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #640D5F;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn-icon button:hover,
.login-btn button:hover {
    background-color: #2A004E;
}

.search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 100%;
}

.search i {
    color: #6d6d6d;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.search input:focus {
    border-color: #640D5F;
    outline: none;
}

.avatar-user img:not(.user-info img){
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid #e6e6e6;
}

.avatar-user {
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.user-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 15%;
    display: none;
    z-index: 10;
    font-size: 14px;
}

.create-menu {
    position: absolute;
    top: 60px;
    right: 310px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 12%;
    display: none;
    z-index: 10;
    font-size: 14px;
}

.user-menu-item,
.create-menu-item {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 600;
}

.user-menu-item,
.create-menu-item {
    padding: 10px 15px;
}

.user-menu-item i,
.create-menu-item i{
    padding: 5px;
}

.user-menu-item:hover,
.create-menu-item:hover{
    background-color: #f0f0f0;
}

.user-menu.show,
.create-menu.show {
    display: block;
}

.user-info {
    display: flex;
    padding: 10px;
    overflow: hidden;
}

.user-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
}

.user-info div:not(.user-info div div){
    margin-left: 10px;
}

.user-info div div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-info div div p {
    font-weight: bold;
}

.user-info div div span {
    font-weight: bold;
    font-size: 20px;
    color: #ffbf00;
}
.folderPopup-container {
    padding: 2rem;
}

/* Popup styles */
.folder-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.folder-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    color: #333;
}

.folder-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.folder-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e8e8e8;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.create-folder-btn {
    display: flex;
    justify-content: end;
}

.create-folder-btn button{
    padding: 10px 15px;
    background-color: #640D5F;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-folder-btn button:hover {
    background-color: #2A004E;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Ensure the popup appears above other elements */
#folderPopup {
    z-index: 1001;
    animation: fadeIn 0.2s ease-out forwards, slideDown 0.2s ease-out forwards;
}

/* Khi ẩn popup, sử dụng fadeOut */
#folderPopup.hide {
    animation: fadeOut 0.2s ease-out forwards;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*------------------------------------Body*/
.body {
    display: flex;
    min-height: 100vh;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 101;
    width: 260px;
    height: 100vh;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
}

.sidebar-nav .nav-item .nav-link,
.sidebar-nav .nav-item .nav-link-actived {
    color: #000;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    padding: 11px 15px;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    transition: 0.4s ease;
    font-weight: 600;
}

.sidebar-nav .nav-item .nav-link-actived {
    color: #640D5F;
    background: #ffbcfb;
}

.sidebar-nav .nav-item:hover > .nav-link:not(.dropdown-title),
.sidebar-nav .nav-item:hover > .nav-link-actived:not(.dropdown-title){
    color: #640D5F;
    background: #ffbcfb;
}

.sidebar-nav .nav-link :where(.nav-label, .dropdown-icon),
.sidebar-nav .nav-link-actived :where(.nav-label, .dropdown-icon){
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon),
.sidebar.collapsed .nav-link-actived :where(.nav-label, .dropdown-icon){
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 94px;
    width: 100%;
}

/* Dropdown Stylings */
.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .dropdown-container .dropdown-icon {
    margin: 0 -4px 0 auto;
    transition: tranform 0.4s ease, opacity 0.3s 0.2s ease;
}

.sidebar.collapsed .dropdown-container .dropdown-icon {
    transition: opacity 0.3s 0s;
}

.sidebar-nav .dropdown-container.open .dropdown-icon {
    transform: rotate(180deg);
}

.sidebar-nav .dropdown-subject {
    height: 0;
    overflow-y: hidden;
    list-style: none;
    padding-left: 15px;
    transition: height 0.4s ease;
}

.sidebar.collapsed .dropdown-subject {
    position: absolute;
    left: 100%;
    top: -10px;
    opacity: 0;
    height: auto!important;
    overflow-y: unset;
    pointer-events: none;
    background: #fff;
    padding: 7px 10px 7px 24px;
    border-radius: 10px;
    transition: 0s;
}

.sidebar.collapsed .nav-item:hover .dropdown-subject {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(10px);
    transition: 0.4s ease;
}

.dropdown-subject .nav-item .nav-link,
.dropdown-subject .nav-item .nav-link-actived{
    padding: 9px 15px;
}

.sidebar.collapsed .dropdown-subject .nav-link,
.sidebar.collapsed .dropdown-subject .nav-link-actived {
    padding: 7px 15px;
}

.dropdown-subject .nav-item .dropdown-title {
    display: none;
}

.sidebar.collapsed .dropdown-subject .nav-item .dropdown-title {
    display: block;
}
/* Body content */
.body-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 60px 110px;
    width: 100%;
    transition: margin-left 0.4s ease;
    max-width: 1200px;
    margin: 0 auto;
}
.history-title{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
/*.sidebar.collapsed + .body-container {
    margin-left: 85px;
}*/
.history-card{

    /* padding-top: 20px; */
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 1100px;
}
.recents-container,
.popular-card-container,
.top-creator-container {
    padding: 20px;
    background-color: #fff;
}
.button2{

}
.quiz-button{
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    width: 75px;
}


.quiz-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #640D5F;
    transition: width 0.3s ease-in-out;
}
.quiz-button:hover::after {
    width: 100%;
}

.quiz-card{
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
}

.quiz-title{
    flex-direction: column;
    align-items: start;
}

.quiz-title span {
    color: #333;
    font-weight: 700;
}

.quiz-card:hover{
    cursor: pointer;
    background-color: #e8e8e8;
}

.title-text{
    font-size: 18px;
    font-weight: 700;
    color: #000 !important;
}

.folders-button{
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    width: 75px;
}

.folders-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px; /* Độ dày của underline */
    background-color: #640D5F;
    transition: width 0.3s ease-in-out;
}

.folders-button:hover::after {
    width: 100%;
}

.folder-card{
    display: flex;
    align-items: center;
    min-height: 70px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 1rem;
}

.folder-card:hover{
    cursor: pointer;
    background-color: #e8e8e8;
}

.recents-container h2,
.popular-card-container h2,
.top-creator-container h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
}

.recents-list {
    display: flex;
    flex-wrap: wrap;
}

.recents-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.recents-item:hover {
    background-color: #f7e8f6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.recents-item > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffbcfb;
    color: #640D5F;
    margin-right: 10px;
    padding: 20px;
}

.recents-item i {
    font-size: 20px;
    padding: 25px 20px;
}

.recents-item p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
}

.recents-item div div {
    font-size: 14px;
    font-weight: 600;
    color: #718096;
    margin-top: 2px;
}

.flash-card-list,
.top-creator-list {
    display: flex;
    column-gap: 20px;
}

.flash-card-item,
.top-creator-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    height: 100%;
    width: 33%;
    padding: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.flash-card-item:hover,
.top-creator-item:hover {
    background-color: #f7e8f6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
    border-bottom: 3px solid #640D5F;
}

.flash-card-item > div:first-child p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
    margin-bottom: 5px;
}

.flash-card-item span,
.top-creator-item span {
    background-color: #e8e8e8;
    font-weight: 600;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 30px;
}

.flash-card-item > div:last-child{
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.flash-card-item > div:last-child img{
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.flash-card-item > div:last-child p{
    align-self: center;
    margin-left: 5px;
    font-size: 14px;
}

.top-creator-item > div:first-child{
    margin-bottom: 20px;
}

.top-creator-item p {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    line-height: 1.2;
}

.top-creator-item > div:first-child img{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.top-creator-item > div:last-child {
    margin-top: 10px;
}

.blog-container {
    background-color: #ff99ff;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.blog-container * {
    color:white;
}
.blog-header img {
    border-radius:100px;
}
.blog-comment {
    border-radius:5px;
}

.mb-4 ul li{
    list-style-type: none;
}

.set-num{
    font-size: 0.8rem;
    font-weight: 700;
    color: #666;
}
.quiz-box{
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor:pointer;
    border-bottom: 4px solid transparent;
    margin-bottom: 20px;
}
.quiz-box:hover{
    border-color:#640D5F;
}
.folder-box{
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor:pointer;
    margin-bottom: 20px;
    border-bottom: 4px solid transparent;
}
.folder-box:hover{
    border-color:#640D5F;
}
.quiz-detail{
    font-size: 16px;
    font-weight:normal;
    color: #6d6d6d;
}
.folderPopup-container {
    padding: 2rem;
}

/* Popup styles */
.folder-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.folder-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    color: #333;
}

.folder-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.folder-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e8e8e8;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.create-folder-btn {
    display: flex;
    justify-content: end;
}

.create-folder-btn button{
    padding: 10px 15px;
    background-color: #640D5F;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-folder-btn button:hover {
    background-color: #2A004E;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Ensure the popup appears above other elements */
#folderPopup {
    z-index: 1001;
    animation: fadeIn 0.2s ease-out forwards, slideDown 0.2s ease-out forwards;
}

/* Khi ẩn popup, sử dụng fadeOut */
#folderPopup.hide {
    animation: fadeOut 0.2s ease-out forwards;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.option-select{
    background-color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    /*border-style: none;*/
    border: 2px solid #e6e6e6 !important;
    border-radius: 10px;
    color: #640D5F;
}

.option-select option{
    border: solid 1px;
    border-color: #640D5F;
    border-radius: 5px;
}

.term-header {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.term-header h2 {
    color: #666;
    font-size: 18px;
}

.term-header hr {
    flex-grow: 1;
    border: none;
    height: 2px;
    background-color: #ddd;
}
hr{
        display: block;
   
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}