* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#toastMessage1 {
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #007f00;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1010;
}

#toastMessage2 {
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #d32f2f;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1010;
}

#toastMessage3 {
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 80px;
    right: 20px;
    background: #FFB200;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1010;
}

.menu-btn button {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: #6d6d6d;
    align-self: center;
    cursor: pointer;
    width: 45px;
    transition: 0.4s ease;
}

.menu-btn button:hover {
    background-color: #f3f3f3;
    border-radius: 50px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
}

.logo a {
    color: #640D5F;
    text-decoration: none;
    padding: 0 10px;
    align-self: center;
}

.header {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-login {
    display: flex;
}

.login-btn,
.upgrade-btn,
.create-btn-icon span {
    padding: 10px;
    align-self: center;
}

.upgrade-btn a {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffbf00;
    color: #640D5F;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.upgrade-btn a:hover {
    background-color: #f7cd51;
}

.create-btn-icon {
    align-self: center;
}

.create-btn-icon button,
.login-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #640D5F;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn-icon button:hover,
.login-btn button:hover {
    background-color: #2A004E;
}

.search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 100%;
}

.search i {
    color: #6d6d6d;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.search input:focus {
    border-color: #640D5F;
    outline: none;
}

.avatar-user img:not(.user-info img){
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
    border: 2px solid #e6e6e6;
}

.avatar-user {
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.user-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 15%;
    display: none;
    z-index: 10;
    font-size: 14px;
}

.create-menu {
    position: absolute;
    top: 60px;
    right: 310px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 12%;
    display: none;
    z-index: 10;
    font-size: 14px;
}

.user-menu-item,
.create-menu-item {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 600;
}

.user-menu-item,
.create-menu-item {
    padding: 10px 5px;
}

.user-menu-item i,
.create-menu-item i{
    padding: 5px 10px;
}

.user-menu-item:hover,
.create-menu-item:hover{
    background-color: #f0f0f0;
}

.user-menu.show,
.create-menu.show {
    display: block;
}

.user-info {
    display: flex;
    padding: 10px;
    overflow: hidden;
}

.user-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
}

.user-info div:not(.user-info div div){
    margin-left: 10px;
}

.user-info div div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-info div div p {
    font-weight: bold;
}

.user-info div div span {
    font-weight: bold;
    font-size: 20px;
    color: #ffbf00;
}

.folderPopup-container {
    padding: 2rem;
}

/* Popup styles */
.folder-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.folder-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    color: #333;
}

.folder-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.folder-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e8e8e8;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.create-folder-btn {
    display: flex;
    justify-content: end;
}

.create-folder-btn button{
    padding: 10px 15px;
    background-color: #640D5F;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-folder-btn button:hover {
    background-color: #2A004E;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Ensure the popup appears above other elements */
#folderPopup {
    z-index: 1001;
    animation: fadeIn 0.2s ease-out forwards, slideDown 0.2s ease-out forwards;
}

/* Khi ẩn popup, sử dụng fadeOut */
#folderPopup.hide {
    animation: fadeOut 0.2s ease-out forwards;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*------------------------------------Body*/
.body {
    display: flex;
    min-height: 100vh;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 101;
    width: 260px;
    height: 100vh;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
}

.sidebar-nav .nav-item .nav-link,
.sidebar-nav .nav-item .nav-link-actived {
    color: #000;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    padding: 11px 15px;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    transition: 0.4s ease;
    font-weight: 600;
}

.sidebar-nav .nav-item .nav-link-actived {
    color: #640D5F;
    background: #ffbcfb;
}

.sidebar-nav .nav-item:hover > .nav-link:not(.dropdown-title),
.sidebar-nav .nav-item:hover > .nav-link-actived:not(.dropdown-title){
    color: #640D5F;
    background: #ffbcfb;
}

.sidebar-nav .nav-link :where(.nav-label, .dropdown-icon),
.sidebar-nav .nav-link-actived :where(.nav-label, .dropdown-icon){
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon),
.sidebar.collapsed .nav-link-actived :where(.nav-label, .dropdown-icon){
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 94px;
    width: 100%;
}

/* Dropdown Stylings */
.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .dropdown-container .dropdown-icon {
    margin: 0 -4px 0 auto;
    transition: tranform 0.4s ease, opacity 0.3s 0.2s ease;
}

.sidebar.collapsed .dropdown-container .dropdown-icon {
    transition: opacity 0.3s 0s;
}

.sidebar-nav .dropdown-container.open .dropdown-icon {
    transform: rotate(180deg);
}

.sidebar-nav .dropdown-subject {
    height: 0;
    overflow-y: hidden;
    list-style: none;
    padding-left: 15px;
    transition: height 0.4s ease;
}

.sidebar.collapsed .dropdown-subject {
    position: absolute;
    left: 100%;
    top: -10px;
    opacity: 0;
    height: auto!important;
    overflow-y: unset;
    pointer-events: none;
    background: #fff;
    padding: 7px 10px 7px 24px;
    border-radius: 10px;
    transition: 0s;
}

.sidebar.collapsed .nav-item:hover .dropdown-subject {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(10px);
    transition: 0.4s ease;
}

.dropdown-subject .nav-item .nav-link,
.dropdown-subject .nav-item .nav-link-actived{
    padding: 9px 15px;
}

.sidebar.collapsed .dropdown-subject .nav-link,
.sidebar.collapsed .dropdown-subject .nav-link-actived {
    padding: 7px 15px;
}

.dropdown-subject .nav-item .dropdown-title {
    display: none;
}

.sidebar.collapsed .dropdown-subject .nav-item .dropdown-title {
    display: block;
}

/* Body content */
.body-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 64px 50px;
    width: 100%;
    transition: margin-left 0.4s ease;
    margin-left: 260px;
}

.sidebar.collapsed + .body-container {
    margin-left: 85px;
}

.card-wrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
    width: 100%;
}

.small-list .card-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-list .card-item {
    list-style: none;
}

.card-list .card-item .card-link {
    width: 350px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
    cursor: grabbing;
}

.card-list .card-item .card-link:hover {
    border-color: #640D5F;
}

.card-list .card-link img {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #e8e8e8;
}

.card-list .card-link .preview-content {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    height: 100%;
    max-height: 100px; /* Giới hạn chiều cao */
    overflow: hidden; /* Ẩn phần nội dung vượt quá */
    text-overflow: ellipsis; /* Thêm dấu "..." khi bị cắt */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Giới hạn số dòng hiển thị */
    -webkit-box-orient: vertical; /* Hiển thị nội dung theo chiều dọc */
    word-break: break-word; /* Đảm bảo từ không bị tràn ra ngoài */
    line-height: 1.5em; /* Điều chỉnh khoảng cách dòng */
    min-height: calc(1.5em * 3); /* Chiều cao tối thiểu bằng 3 dòng */
}

.card-list .card-link .card-username span{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

.card-list .card-link .badge {
    color: #000;
    margin: 16px 0 18px;
    padding: 5px 10px;
    font-weight: 600;
    font-size: 12px;
    background: #e8e8e8;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge2 {
    color: #000;
    margin-top: 10px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 12px;
    background: #e8e8e8;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .card-title {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}

.card-item .card-username {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card-item .card-username img {
    height: 36px;
    width: 36px;
    margin-right: 10px;
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #640D5F;
    color: #640D5F;
    transform: rotate(-135deg);
    transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background-color: #640D5F;
}

.card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #640D5F;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #640D5F;
}

.card-list .card-item .card-avt img{
    height: 72px;
    width: 72px;
    margin: 10px;
}

.card-list .card-item .card-avt p {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
}

.container > h2:first-child {
    margin-left: 5%;
}

.container {
    max-width: 1250px;
    width: 100%;
    margin: auto;
}

.recents-container {
    margin: 0 auto;
    background: none;
    max-width: 1100px;
    margin-bottom: 40px;
}

.recents-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 16px 0;
    color: #333;
}

.recents-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recents-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    width: 540px;
    border-bottom: 4px solid transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    background: #fff;
}

.recents-item:hover {
    border-color: #640D5F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recents-item > div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffbcfb;
    color: #640D5F;
    margin-right: 10px;
    padding: 20px;
}

.recents-item i {
    font-size: 20px;
    padding: 25px 20px;
}

.recents-item p {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    line-height: 1.2;
}

.recents-item div div {
    font-size: 14px;
    font-weight: 600;
    color: #718096;
    margin-top: 2px;
}

/*.blog-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.blog-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}*/

.blog-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.blog-modal-content {
    background-color: #fff;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: fit-content;
    max-width: 800px;
    position: relative;
    color: #333;
}

.blog-modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.blog-card {
    padding: 20px;
    border-radius: 10px;
    color: #000;
    max-width: 1100px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: flex;
    background: #fff;
    color: #333;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.btn p {
    align-self: center;
    margin-left: 5px;
}

.header-btn {
    display: flex;
}

.btn:hover {
    background: #e6e6e6;
}

.blog-header {
    display: flex;
    align-items: center;
}

.blog-header span {
    font-size: 17px;
    font-weight: 600;
    color: #666;
    margin-right: 5px;
}

.blog-header img {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin: 5px;
}

.blog-content {
    margin-top: 20px;
}

.blog-content p {
    font-size: 15px;
    font-weight: 600;
    color: #666;
    margin: 5px 0;
}

.blog-content h3 {
    margin: 15px 0;
}

.blog-card hr {
    border: none;
    height: 2px;
    background-color: #ddd;
    margin: 10px 0;
    border-radius: 1rem;
}

#modalComments {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 15px;
}

/* Tùy chỉnh thanh cuộn cho đẹp hơn */
#modalComments::-webkit-scrollbar {
    width: 6px;
}

#modalComments::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 10px;
}

#modalComments::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#modalComments img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.comment {
    display: flex;
    gap: 20px;
    align-items: center;
}

.blog-comment-content {
    display: flex;
    flex-direction: column;
}

.error-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
    margin: 0 auto;
}

.error-container img {
    height: 150px;
    width: 150px;
}

.error-container p a {
    text-decoration: none;
    font-weight: 700;
    color: #640D5F;
}

.error-container p a:hover {
    color: #2A004E;
}