* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100vh;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    padding: 0 20px;
    gap: 1rem;
    position: fixed;
    background-color: #fff;
    z-index: 100;
}

.learn-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}

.flashcard-icon {
    flex: 1;
    position: relative;
}

.flashcard-icon button {
    display: flex;
    align-items: center;
    background: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.flashcard-icon button:hover {
    background: #e8e8e8;
}

.flashcard-icon img {
    height: 42px;
    width: 42px;
}

.flashcard-menu {
    position: absolute;
    display: none;
    width: 12rem;
    top: 4rem;
    left: 0;
}

.flashcard-menu hr {
    height: 1.5px;
    background: #e6e6e6;
    border: none;
    margin: 5px 0;
}

.flashcard-menu-nav {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}

.flashcard-menu-nav  .nav-item .nav-link {
    padding: 5px 10px;
    padding-left: 5px;
    margin: 0 10px;
}

.flashcard-menu-nav  li {
    list-style: none;
}

.flashcard-menu-nav  a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.flashcard-menu-nav .nav-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
}

.flashcard-menu-nav  .nav-item img {
    height: 24px;
    width: 24px;
}

.flashcard-menu-nav  .nav-item:hover {
    background: #e6e6e6;
}

.flashcard-menu.show {
    display: block;
}

.title {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .75rem 0;
}

.close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1;
    gap: 10px;
}

.close button {
    padding: 7px 10px;
    background: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    cursor: pointer;
}

.close span {
    font-size: 24px;
    color: #333;
}

.close button:hover {
    background: #e8e8e8;
}

.optionPopup-container {
    padding: 2rem;
}

/* Popup styles */
.option-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.option-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    color: #333;
}

.option-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Ensure the popup appears above other elements */
#optionPopup {
    z-index: 1001;
    animation: fadeIn 0.2s ease-out forwards, slideDown 0.2s ease-out forwards;
}

/* Khi ẩn popup, sử dụng fadeOut */
#optionPopup.hide {
    animation: fadeOut 0.2s ease-out forwards;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*-------------------------------Body */
.body {
    margin: 2rem auto;
    height: 100%;
}

.flashcard-container {
    width: 100%;
    height: 80%;
    max-width: 70rem;
    min-height: 40rem;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flashcard-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
}

.flashcard {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
}

.flashcard.active {
    opacity: 1;
}

.flashcard.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Hiệu ứng xuất hiện khi NEXT */
.flashcard.slide-in-right {
    animation: slideInRight 0.2s ease-in-out forwards;
}

/* Hiệu ứng xuất hiện khi PREV */
.flashcard.slide-in-left {
    animation: slideInLeft 0.2s ease-in-out forwards;
}

/* Hiệu ứng biến mất khi NEXT */
.flashcard.slide-out-left {
    animation: slideOutLeft 0.2s ease-in-out forwards;
}

/* Hiệu ứng biến mất khi PREV */
.flashcard.slide-out-right {
    animation: slideOutRight 0.2s ease-in-out forwards;
}

/* Animation */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
    }
}

.flashcard-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

.flashcard-front,
.flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 40px;
}

.flashcard-front {
    background: #fff;
}

.flashcard-back {
    background: #fff;
    transform: rotateX(180deg);
}

.flashcard.flip .flashcard-inner {
    transform: rotateX(180deg);
}


.previous-next {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 20px;
    max-width: 70rem;
}

.previous-next .btn {
    border-radius: 20px;
    padding: 5px 15px;
}

.previous-next .page-number {
    font-size: 20px;
    font-weight: 600;
    color: #666;
    margin: 0 20px;
}

.nav-controls {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: center; 
    margin-left: 140px;
    gap: 1.5rem;
}

.nav-controls button {
    background: #fff;
    border: 2px solid #ccc;
}

.nav-controls button:hover {
    background: #e8e8e8;
    cursor: pointer;
}

.extra-btn {
    display: flex;
    align-items: center;
    background: #fff;
    color: #333;
    padding:10px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.extra-btn:hover {
    background: #e6e6e6;
}

.extra-controls {
    display: flex;
    align-items: center;
}

/* Định dạng tooltip */
.tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

/* Hiển thị tooltip khi hover */
.extra-btn {
    position: relative;
}

.extra-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#shuffleBtn.active {
    color: #640D5F;
    background: #ffbcfb;
}

.flashcard-complete {
    padding: 20px;
    background: white;
    border-radius: 10px;
    display: none;
    margin: 8rem auto;
    max-width: 70rem;
}

.flashcard-complete-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flashcard-complete-header h2 {
    line-height: 1.25;
    letter-spacing: normal;
    -webkit-letter-spacing: normal;
    font-size: 2rem;
}

.flashcard-complete-header img {
    width: 100px;
}

.flashcard-complete-header .congratulations-icon {
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

.congratulations-icon {
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

.progress-actions {
    display: flex;
    margin: 10px 0;
}

.progress {
    flex: 1;
}

.progress h3,
.actions h3{
    color: #555;
}

.progress-info {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.progress-info-complete {
    flex: 1;
}

.progress-info-complete p {
    display: flex;
    justify-content: space-between; 
    width: auto;
    background: #ffbcfb;
    color: #640D5F;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    margin: 0 20px 10px 5px;
}

.complete-icon {
    font-size: 74px !important;
    font-weight: bold !important;
    color: #640D5F;
    margin: 5px;
}

.backToLastBtn {
    display: flex;
    align-items: center;
    background: #fff;
    color: #555;
    border: none;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 600;
}

.backToLastBtn span{
    font-size: 20px !important;
    font-weight: 600 !important;
}

.actions {
    flex: 1;
}

.actions-info {
    margin: 10px 0;
}

.actions button {
    width: 100%;
    background: #640D5F;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.actions button a {
    text-decoration: none;
    color: #fff;
}

#restartFlashcards a {
    color: #555;
}

.actions button:hover {
    background-color: #2A004E;
}

#restartFlashcards {
    background: #fff;
    border: 2px solid #e6e6e6;
}

#restartFlashcards:hover {
    background-color: #e6e6e6;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2.5px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #640D5F; /* Màu xanh khi bật */
}

input:checked + .slider::before {
    transform: translateX(25px);
}

.option-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option-list hr {
    border: none;
    height: 2px;
    background-color: #ddd;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.option-item  .option-name {
    font-size: 16px;
    font-weight: 700;
}

.option-item button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #640D5F;
    cursor: pointer;
}

.option-item span {
    font-size: 15px;
    font-weight: bold;
}

.option-item select {
    background-color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #640D5F;
}

.option-item select:hover {
    background-color: #f3f3f3;
    cursor: pointer;
}

.restart {
    color: #C62300;
}

.restart:hover {
    color: #A31D1D;
    cursor: pointer;
}

.keyboard-shortcut {
    display: flex;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.keyboard-shortcut .column {
    flex: 1;
}

.keyboard-shortcut .column .column-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
    font-weight: 500; 
}

.keyboard-shortcut.show {
    display: block;
    opacity: 1;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.show-both .flashcard-inner {
    transform: none !important;
    display: flex;
    justify-content: space-between;
}

.show-both .flashcard-front,
.show-both .flashcard-back {
    display: block;
    width: 50%;
}

.flashcard-inner2 {
    display: none;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.flashcard-front2, .flashcard-back2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 40px;
}

/* Khi bật "Show both sides" */
.flashcard.show-both .flashcard-inner {
    display: none; /* Ẩn chế độ một mặt */
}

.flashcard.show-both .flashcard-inner2 {
    display: flex; /* Hiển thị chế độ hai mặt */
}

/* Popup styles */
.test-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.test-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: auto;
    max-width: 700px;
    position: relative;
    color: #333;
}

.test-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.test-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.test-list hr {
    border: none;
    height: 2px;
    background-color: #ddd;
}

.test-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.test-item  .test-name {
    font-size: 18px;
    font-weight: 700;
}

.test-item input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 5rem;
    border:none;
    background: #e8e8e8;
    color: #640D5F;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.closetest-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.test-submit-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.test-submit-btn button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.test-submit-btn .cancel-btn {
    border: 2px solid #ccc;
    background: #fff;
    color: #333;
}

.test-submit-btn .cancel-btn:hover {
    background: #e8e8e8;
}

.test-submit-btn .create-btn {
    border: none;
    background: #640D5F;
    color: #fff;
}

.test-submit-btn .create-btn:hover {
    background: #2A004E;
}