* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.menu-btn button {
    background-color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: #6d6d6d;
    align-self: center;
    cursor: pointer;
    width: 45px;
    transition: 0.4s ease;
}

.menu-btn button:hover {
    background-color: #f3f3f3;
    border-radius: 50px;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 100%;
    align-self: center;
    font-weight: bold;
    font-size: 25px;
}

.logo a {
    color: #640D5F;
    text-decoration: none;
    padding: 0 10px;
    align-self: center;
}

.header {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-login {
    display: flex;
}

.login-btn,
.upgrade-btn,
.create-btn-icon span {
    padding: 10px;
    align-self: center;
}

.upgrade-btn a {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #ffbf00;
    color: #640D5F;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.upgrade-btn a:hover {
    background-color: #f7cd51;
}

.create-btn-icon {
    align-self: center;
}

.create-btn-icon button,
.login-btn button {
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #640D5F;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.create-btn-icon button:hover,
.login-btn button:hover {
    background-color: #2A004E;
}

.search {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    max-width: 450px;
    width: 100%;
}

.search i {
    color: #6d6d6d;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.search input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.search input:focus {
    border-color: #640D5F;
    outline: none;
}

.avatar-user img:not(.user-info img){
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 10px;
}

.avatar-user {
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.user-menu {
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 15%;
    display: none;
    z-index: 10;
    font-size: 14px;
}

.create-menu {
    position: absolute;
    top: 60px;
    right: 310px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 12%;
    display: none;
    z-index: 10;
    font-size: 14px;
}

.user-menu-item,
.create-menu-item {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    display: block;
    font-weight: 600;
}

.user-menu-item,
.create-menu-item {
    padding: 10px;
}

.user-menu-item i,
.create-menu-item i{
    padding: 5px;
}

.user-menu-item:hover,
.create-menu-item:hover{
    background-color: #f0f0f0;
}

.user-menu.show,
.create-menu.show {
    display: block;
}

.user-info {
    display: flex;
    padding: 10px;
    overflow: hidden;
}

.user-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user-info div{
    margin-left: 10px
}

.user-info p:first-child {
    font-weight: bold;
}

.folderPopup-container {
    padding: 2rem;
}

/* Popup styles */
.folder-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.folder-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    color: #333;
}

.folder-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.folder-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #e8e8e8;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.create-folder-btn {
    display: flex;
    justify-content: end;
}

.create-folder-btn button{
    padding: 10px 15px;
    background-color: #640D5F;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-folder-btn button:hover {
    background-color: #2A004E;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Ensure the popup appears above other elements */
#folderPopup {
    z-index: 1001;
    animation: fadeIn 0.2s ease-out forwards, slideDown 0.2s ease-out forwards;
}

/* Khi ẩn popup, sử dụng fadeOut */
#folderPopup.hide {
    animation: fadeOut 0.2s ease-out forwards;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*------------------------------------Body*/
.body {
    display: flex;
    min-height: 100vh;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar {
    position: fixed;
    top: 64px;
    left: 0;
    z-index: 101;
    width: 260px;
    height: 100vh;
    background: #fff;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
}

.sidebar-nav .nav-item .nav-link,
.sidebar-nav .nav-item .nav-link-actived {
    color: #000;
    display: flex;
    gap: 12px;
    white-space: nowrap;
    padding: 11px 15px;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    transition: 0.4s ease;
    font-weight: 600;
}

.sidebar-nav .nav-item .nav-link-actived {
    color: #640D5F;
    background: #ffbcfb;
}

.sidebar-nav .nav-item:hover > .nav-link:not(.dropdown-title),
.sidebar-nav .nav-item:hover > .nav-link-actived:not(.dropdown-title){
    color: #640D5F;
    background: #ffbcfb;
}

.sidebar-nav .nav-link :where(.nav-label, .dropdown-icon),
.sidebar-nav .nav-link-actived :where(.nav-label, .dropdown-icon){
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .nav-link :where(.nav-label, .dropdown-icon),
.sidebar.collapsed .nav-link-actived :where(.nav-label, .dropdown-icon){
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .secondary-nav {
    position: absolute;
    bottom: 94px;
    width: 100%;
}

/* Dropdown Stylings */
.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .dropdown-container .dropdown-icon {
    margin: 0 -4px 0 auto;
    transition: tranform 0.4s ease, opacity 0.3s 0.2s ease;
}

.sidebar.collapsed .dropdown-container .dropdown-icon {
    transition: opacity 0.3s 0s;
}

.sidebar-nav .dropdown-container.open .dropdown-icon {
    transform: rotate(180deg);
}

.sidebar-nav .dropdown-subject {
    height: 0;
    overflow-y: hidden;
    list-style: none;
    padding-left: 15px;
    transition: height 0.4s ease;
}

.sidebar.collapsed .dropdown-subject {
    position: absolute;
    left: 100%;
    top: -10px;
    opacity: 0;
    height: auto!important;
    overflow-y: unset;
    pointer-events: none;
    background: #fff;
    padding: 7px 10px 7px 24px;
    border-radius: 10px;
    transition: 0s;
}

.sidebar.collapsed .nav-item:hover .dropdown-subject {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(10px);
    transition: 0.4s ease;
}

.dropdown-subject .nav-item .nav-link,
.dropdown-subject .nav-item .nav-link-actived{
    padding: 9px 15px;
}

.sidebar.collapsed .dropdown-subject .nav-link,
.sidebar.collapsed .dropdown-subject .nav-link-actived {
    padding: 7px 15px;
}

.dropdown-subject .nav-item .dropdown-title {
    display: none;
}

.sidebar.collapsed .dropdown-subject .nav-item .dropdown-title {
    display: block;
}

/* Body content */
.body-container {
    display: flex;
    flex-direction: column;
    padding: 64px 50px;
    width: 100%;
    transition: margin-left 0.4s ease;
    margin-left: 260px;
}

.sidebar.collapsed + .body-container {
    margin-left: 85px;
}

.flashcard-container,
.term-container {
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flashcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.flashcard-header h2 {
    font-size: 32px;
    font-weight: bold;
}

.btn {
    display: flex;
    align-items: center;
    background: #fff;
    color: #333;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.btn p {
    align-self: center;
    margin-left: 5px;
}

.btn img {
    height: 30px;
    width: 30px;
}

.btn a {
    margin-left: 10px;
}

.header-btn {
    position: relative;
    display: flex;
}

.header-btn span {
    font-size: 22px;
}

.copy-message {
    position: fixed;
    top: 80px;
    right: 20px;
    background: rgba(100, 13, 95, 0.9);
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    display: none; /* Ẩn ban đầu */
    transition: opacity 0.3s ease-in-out;
}

.btn:hover {
    background: #e6e6e6;
}

.more-option {
    display: none; 
    position: absolute;
    top: 110%;
    left: -5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: 100;
    padding: 5px 0;
}

.more-option ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.more-option .nav-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.more-option .nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

.more-option .nav-item span {
    color: #333;
    font-size: 20px;
}

.more-option .nav-item:hover {
    background: #f1f1f1;
}

/* Khi hiển thị */
.more-option.show {
    display: block;
}

.flashcard-test {
    display: flex;
    margin-bottom: 20px;
}

.flashcard-test .btn {
    flex: 1;
    display: flex;
    justify-content: center;
    border: none;
    border-bottom: 3px solid transparent;
    background: #f3f3f3;
    padding: 10px 15px;
}

.flashcard-test .btn:hover {
    border-bottom-color: #640D5F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flashcard-test span {
    color: #640D5F;
}

.flashcard-test a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    text-align: center;
}

.flashcard-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    position: relative;
    overflow: visible;
}

.flashcard {
    width: 100%;
    height: 280px;
    perspective: 1000px;
    position: absolute;
    transition: opacity 0.2s ease-in-out;
}

.flashcard.active {
    opacity: 1;
}

.flashcard.hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Hiệu ứng xuất hiện khi NEXT */
.flashcard.slide-in-right {
    animation: slideInRight 0.2s ease-in-out forwards;
}

/* Hiệu ứng xuất hiện khi PREV */
.flashcard.slide-in-left {
    animation: slideInLeft 0.2s ease-in-out forwards;
}

/* Hiệu ứng biến mất khi NEXT */
.flashcard.slide-out-left {
    animation: slideOutLeft 0.2s ease-in-out forwards;
}

/* Hiệu ứng biến mất khi PREV */
.flashcard.slide-out-right {
    animation: slideOutRight 0.2s ease-in-out forwards;
}

/* Animation */
@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
    }
}

.flashcard-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.4s;
}

.flashcard-front,
.flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 30px;
}

.flashcard-front {
    background: #fff;
}

.flashcard-back {
    background: #fff;
    transform: rotateX(180deg);
}

.flashcard.flip .flashcard-inner {
    transform: rotateX(180deg);
}

.flashcard-complete {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: none;
}

.flashcard-complete-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flashcard-complete-header h2 {
    line-height: 1.25;
    letter-spacing: normal;
    -webkit-letter-spacing: normal;
    font-size: 2rem;
}

.flashcard-complete-header img {
    width: 100px;
}

.flashcard-complete-header .congratulations-icon {
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

.congratulations-icon {
    display: flex;
    justify-content: flex-end;
    width: 45%;
}

.progress-actions {
    display: flex;
    margin: 10px 0;
}

.progress {
    flex: 1;
}

.progress h3,
.actions h3{
    color: #555;
}

.progress-info {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.progress-info-complete {
    flex: 1;
}

.progress-info-complete p {
    display: flex;
    justify-content: space-between; 
    width: auto;
    background: #ffbcfb;
    color: #640D5F;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    margin: 0 20px 10px 5px;
}

.complete-icon {
    font-size: 74px !important;
    font-weight: bold !important;
    color: #640D5F;
    margin: 5px;
}

.backToLastBtn {
    display: flex;
    align-items: center;
    background: #fff;
    color: #555;
    border: none;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 600;
}

.backToLastBtn span{
    font-size: 20px !important;
    font-weight: 600 !important;
}

.actions {
    flex: 1;
}

.actions-info {
    margin: 10px 0;
}

.actions button {
    width: 100%;
    background: #640D5F;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.actions button a {
    text-decoration: none;
    color: #fff;
}

#restartFlashcards a {
    color: #555;
}

.actions button:hover {
    background-color: #2A004E;
}

#restartFlashcards {
    background: #fff;
    border: 2px solid #e6e6e6;
}

#restartFlashcards:hover {
    background-color: #e6e6e6;
}

.previous-next {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.previous-next .btn {
    border-radius: 20px;
    padding: 5px 15px;
}

.previous-next .page-number {
    font-size: 20px;
    font-weight: 600;
    color: #666;
    margin: 0 20px;
}

.nav-controls {
    display: flex;
    align-items: center;
    flex-grow: 1; 
    justify-content: center; 
    margin-left: 165px;
}

.extra-btn {
    display: flex;
    align-items: center;
    background: #fff;
    color: #333;
    padding:10px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
}

.extra-btn:hover {
    background: #e6e6e6;
}

.extra-controls {
    display: flex;
    align-items: center;
}

/* Định dạng tooltip */
.tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

/* Hiển thị tooltip khi hover */
.extra-btn {
    position: relative;
}

.extra-btn:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

#shuffleBtn.active,
#swapFaceBtn.active {
    color: #640D5F;
    background: #ffbcfb;
}

.flashcard-container hr {
    height: 2px;
    background: #e6e6e6;
    border: none;
    border-radius: 10px;
}

.flashcard-info {
    margin-top: 20px;
}

.actor-info {
    display: flex;
    margin: 10px 0;
}

.actor-info img{
    height: 54px;
    width: 54px;
    border-radius: 50%;
    border: 2px solid #e6e6e6;
}

.flashcard-description {
    font-size: 16px;
    font-weight: 500;
}

.name-info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: center;
}

.name-info h3 {
    font-size: 18px;
}

.name-info p {
    font-size: 12px;
    font-weight: 600;
    color: #666;
}

.term-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.term-header select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.term-header option {
    color: #000;
    font-weight: bold;
}

.term-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #e6e6e6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.term-card {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.definition {
    width: 40%;
    padding: 10px;
}

.term {
    width: 60%;
    padding: 10px 20px;
    border-left: 2px solid #e6e6e6;
}

.edit-term .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 8px;
}

.edit-term .btn a {
    text-decoration: none;
    color: #555;
}

.edit-term .btn span {
    font-size: 22px;
    color: #555;
    margin: 0 5px;
}

.mode-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.show-hide {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    height: 50px; /* Đặt chiều cao cố định */
    overflow: hidden;
}

.mode-content {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 100%;
    cursor: pointer;
}

.swapBtn {
    display: none;
    font-size: 16px;
    font-weight: 600;
    color: #333;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 100%;
    cursor: pointer;
}

.mode-content:hover, 
.swapBtn:hover {
    background: #e6e6e6;
}

.vertical-line-mode {
    display: none;
    background: #ccc;
    height: 1.8rem;
    width: .1rem;
}

.study-mode {
    display: flex;
    align-items: center;
    border: none;
    background-color: #640D5F;
    color: #fff;
    border-radius: 8px;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.arrowBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.study-mode:hover {
    background: #2A004E;
}

.more-mode {
    position: absolute;
    display: none;
    width: 100%;
    bottom: 100%; /* Để nó xuất hiện ngay dưới */
    left: 0;
}

.study-mode-nav  {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.study-mode-nav .nav-item .nav-link {
    padding: 10px 15px;
    padding-left: 5px;
}

.study-mode-nav li {
    list-style: none;
}

.study-mode-nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.study-mode-nav .nav-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
}

.study-mode-nav .nav-item img {
    height: 24px;
    width: 24px;
}

.study-mode-nav .nav-item:hover {
    background: #e6e6e6;
}

.hidden {
    filter: blur(5px);
}

.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #640D5F;
    color: white;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(100px);
}

.scroll-top-btn.show {
    opacity: 1;
    transform: translateY(0);
}

.scroll-top-btn:hover {
    background-color: #2A004E;
}

.optionPopup-container {
    padding: 2rem;
}

/* Popup styles */
.option-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.option-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: auto;
    max-width: 700px;
    position: relative;
    color: #333;
}

.option-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.option-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option-list hr {
    border: none;
    height: 2px;
    background-color: #ddd;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.option-item  .option-name {
    font-size: 18px;
    font-weight: 700;
}

.option-item input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 5rem;
    border:none;
    background: #e8e8e8;
    color: #640D5F;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.closetest-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.option-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.option-btn button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn .cancel-btn {
    border: 2px solid #ccc;
    background: #fff;
    color: #333;
}

.option-btn .cancel-btn:hover {
    background: #e8e8e8;
}

.option-btn .create-btn {
    border: none;
    background: #640D5F;
    color: #fff;
}

.option-btn .create-btn:hover {
    background: #2A004E;
}