* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100%;
    padding: 0 20px;
    gap: 1rem;
    position: fixed;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.test-title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}

.test-icon {
    flex: 1;
    position: relative;
}

.test-icon button {
    display: flex;
    align-items: center;
    background: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}

.test-icon button:hover {
    background: #e8e8e8;
}

.test-icon img {
    height: 42px;
    width: 42px;
}

.test-menu {
    position: absolute;
    display: none;
    width: 12rem;
    top: 4rem;
    left: 0;
}

.test-menu hr {
    height: 1.5px;
    background: #e6e6e6;
    border: none;
    margin: 5px 0;
}

.test-menu-nav {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
}

.test-menu-nav  .nav-item .nav-link {
    padding: 5px 10px;
    padding-left: 5px;
    margin: 0 10px;
}

.test-menu-nav  li {
    list-style: none;
}

.test-menu-nav  a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}

.test-menu-nav .nav-item {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
}

.test-menu-nav  .nav-item img {
    height: 24px;
    width: 24px;
}

.test-menu-nav  .nav-item:hover {
    background: #e6e6e6;
}

.test-menu.show {
    display: block;
}

.title {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .75rem 0;
}

.close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1;
    gap: 10px;
}

.close button {
    padding: 7px 10px;
    background: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 8px;
    cursor: pointer;
}

.close span {
    font-size: 24px;
    color: #333;
}

.close button:hover {
    background: #e8e8e8;
}

.optionPopup-container {
    padding: 2rem;
}

/* Popup styles */
.option-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.option-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: auto;
    max-width: 700px;
    position: relative;
    color: #333;
}

.option-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.option-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option-list hr {
    border: none;
    height: 2px;
    background-color: #ddd;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.option-item  .option-name {
    font-size: 18px;
    font-weight: 700;
}

.option-item input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 5rem;
    border:none;
    background: #e8e8e8;
    color: #640D5F;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.closetest-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.option-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.option-btn button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.option-btn .cancel-btn {
    border: 2px solid #ccc;
    background: #fff;
    color: #333;
}

.option-btn .cancel-btn:hover {
    background: #e8e8e8;
}

.option-btn .create-btn {
    border: none;
    background: #640D5F;
    color: #fff;
}

.option-btn .create-btn:hover {
    background: #2A004E;
}

.printBtn span {
    font-size: 16px;
    font-weight: 500;
}

.printBtn {
    padding: 11px 15px !important;
}

/* Ensure the popup appears above other elements */
#optionPopup, #confirmSubmitPopup {
    z-index: 1001;
    animation: fadeIn 0.2s ease-out forwards, slideDown 0.2s ease-out forwards;
}

/* Khi ẩn popup, sử dụng fadeOut */
#optionPopup.hide, #confirmSubmitPopup.hide {
    animation: fadeOut 0.2s ease-out forwards;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*----------------------Body*/
.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.question-list .list {
    display: block;
    position: fixed;
    top: 6rem;
    left: -100%;
    background: white;
    transition: left 0.3s ease-in-out;
    z-index: 9;
    max-height: 80vh; 
    overflow-y: auto;
    padding: 10px;
    border-radius: 10px;
}

/* Định dạng thanh cuộn */
.question-list .list::-webkit-scrollbar {
    width: 8px;
}

.question-list .list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.question-list .list::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* Khi danh sách mở */
.question-list .list.show {
    left: 1.5rem; /* Hiện danh sách */
}

/* Cấu trúc nút menu */
.question-list {
    position: fixed;
    top: 6rem;
    left: 1.5rem;
    max-width: 15rem;
    width: 100%;
}

.question-list .menu-btn {
    display: inline-block;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    z-index: 10;
}

.question-list .menu-btn:hover {
    background: #e8e8e8;
    cursor: pointer;
}

.question-number {
    display: flex;
    flex-direction: column;
    color: #640D5F;
    font-size: 15px;
    font-weight: bold;
}

.question-number p, .question-number h4 {
    padding: 5px 10px;
}

.question-number p {
    color: #aaa;
    font-weight: bold;
}

.question-number p:hover {
    background: #e8e8e8;
    cursor: pointer;
}

.answered-question {
    color: #640D5F !important;
    font-weight: bold !important;
}

.hide-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 5px;
    cursor: pointer;
}

.hide-btn:hover {
    background: #e8e8e8;
    cursor: pointer;
}

.test-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    max-width: 55rem;
    margin: 6rem 0;
}

.quiz {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    border-radius: 8px;
    width: 55rem;
}

.definition h4,
.term h4 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.definition-header {
    display: flex;
    justify-content: space-between;
}

.definition-header span {
    color: #aaa;
    font-size: 14px;
    font-weight: bold;
}

.definition-content {
    min-height: 150px;
}

.definition-content p {
    font-weight: 400;
    font-size: 20px;
}

.term-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.answer {
    border: 2px solid #e6e6e6;
    display: flex;
    border-radius: 8px;
    align-items: center;
    min-height: 4rem;
    cursor: pointer;
    pointer-events: auto; /* Đảm bảo có thể click */
}

.answer:hover {
    border-color: #640D5F;
    background: #ffbcfb;
    color: #640D5F;
    font-weight: bold;
}

.answer.selected {
    background: #ffbcfb;
    border-color: #640D5F;
    color: #640D5F;
    font-weight: bold;
}

.answer-number {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    background-color: #e8e8e8;
    margin: 5px 15px;
    border-radius: 50%;
}

.test-container .submit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-container .submit-btn img {
    width: 75px;
    height: 75px;
    margin-bottom: 25px;
}

.test-container .submit-btn span {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.test-container .submit-btn button {
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    background: #640D5F;
    color: #fff;
    border: none;
    border-radius: 5px; 
}

.test-container .submit-btn button:hover {
    background: #2A004E;
    cursor: pointer;
}

/*------------------------------Pop up confirm submit*/
.confirmSubmitPopup-container {
    padding: 2rem;
}

.confirmSubmit-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.confirmSubmit-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: auto;
    max-width: 700px;
    position: relative;
    color: #333;
}

.confirmSubmit-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.confirmSubmit-popup-content p {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
}

.confirmSubmit-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.confirmSubmit-btn button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.confirmSubmit-btn .cancelSubmit-btn {
    border: 2px solid #ccc;
    background: #fff;
    color: #333;
}

.confirmSubmit-btn .cancelSubmit-btn:hover {
    background: #e8e8e8;
}

.confirmSubmit-btn .submitTest-btn {
    border: none;
    background: #640D5F;
    color: #fff;
}

.confirmSubmit-btn .submitTest-btn:hover {
    background: #2A004E;
}

.confirmSubmit-popup-content .number-quiz-complete {
    max-width: 250px;
    width: 100%;
}

/* Popup styles */
.test-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.test-popup-content {
    background-color: #fff;
    margin: 4rem auto;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    height: auto;
    max-width: 700px;
    position: relative;
    color: #333;
}

.test-popup-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}

.test-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.test-list hr {
    border: none;
    height: 2px;
    background-color: #ddd;
}

.test-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.test-item  .test-name {
    font-size: 18px;
    font-weight: 700;
}

.test-item input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    width: 5rem;
    border:none;
    background: #e8e8e8;
    color: #640D5F;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.closetest-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.test-submit-btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.test-submit-btn button {
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.test-submit-btn .cancel-btn {
    border: 2px solid #ccc;
    background: #fff;
    color: #333;
}

.test-submit-btn .cancel-btn:hover {
    background: #e8e8e8;
}

.test-submit-btn .create-btn {
    border: none;
    background: #640D5F;
    color: #fff;
}

.test-submit-btn .create-btn:hover {
    background: #2A004E;
}
